body {
  background-color: white;
}


h3 {
  color: black;
}

.tango {
  color: black;
  margin-top: 0px;
  padding: 0px;
}

/*.selected {
  background-color: red;
}*/

.table {
  display: inline-block;
  width: auto;
  position: static;
  text-align: center;
}

.grid {
  text-align: center;
  margin: 0 auto;
}

.col-md-12 {
  text-align: center;
  padding-top: 10px;
}

/*.table {
  text-align: center;
  margin: auto;
  position: relative;
}
*/

.col-md-3 {
  display: block;
  width: 145px;
  height: 145px;
  border: 2px solid #74678E;
  vertical-align: middle;
  border-radius: 8px;
  margin: 4px;
  background-color: white;
  font-size: 90px;
  color: #eb9f62;
  text-align: center;
  font-family: Arial
}

.col-md-3:hover {
  background-color: #fffedf;
}


.selector {}


.p1Class {
  background-color: #46a770;
  //
  /*font-size: 100px;
  text-align: center;
  font-family: Arial;*/
}

.p2Class {
  background-color: #2D2145;
  //
  /*font-size: 100px;
  text-align: center;
  font-family: Arial;*/
}


.glyphicon {
  height: 22px;
  width: 22px;
  border-radius: 3px;
  display: flex-inline;
  padding: auto;
}